@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
--Green: hsl(75, 94%, 57%);
--White: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: "Inter", sans-serif;
     background-color: var(--Grey-900);
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     color: aliceblue;
}
.container__area{
    background-color: var(--Grey-800);
    padding: 40px;
    width: 450px;
    border-radius: 10px;
}
.profile__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.img__box img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-fit: cover;
}
.content__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}
.content__area h2{
     font-size: 1.9rem;
     font-weight: 400;
     color: var(--White);
}
.content__area h4{
     font-size: 1rem;
     font-weight: 400;
     color: var(--Green);
}
.button__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    margin-top: 25px;
}
.button__area p{
    margin: 10px 0;
    color:rgba(214, 214, 214, 0.785);
    font-weight: 400;
}
.btn__box{
     
    text-align: center;
}
.btn__box .btn{
     width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 15px;
    background-color: var(--Grey-700);
    border: none;
    color: var(--White);
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.5s;
}
.btn__box .btn:hover{
     background-color: var(--Green);
     color: var(--Grey-900);
     transition: 0.5s;
}
@media screen and (max-width:400px){
    .container__area{
        background-color: var(--Grey-800);
        padding: 20px;
        width: 400px;
        border-radius: 10px;
        margin: 10px;
    }
    .btn__box .btn{
        width: 100%;
       text-align: center;
       margin: 7px 0;
       padding: 15px;
       background-color: var(--Grey-700);
       border: none;
       color: var(--White);
       font-size: 16px;
       font-weight: 600;
       border-radius: 10px;
   }
   .button__area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
    margin-top: 15px;
}
   .button__area p{
     font-size: small;
}
}